# =========================
# Python virtual environments
# =========================
agentes-vs-llm/
llm_tesis/
venv/
.env
**/.env

# =========================
# Python artifacts
# =========================
__pycache__/
*.py[cod]

# =========================
# Jupyter / VS Code
# =========================
.ipynb_checkpoints/
.vscode/

# =========================
# OS / misc
# =========================
.DS_Store
Thumbs.db
